<div class="main-container">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Search</mat-label>
      <input type="text" matInput formControlName="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Order</mat-label>
      <mat-select formControlName="sortBy">
        <mat-option value="id:DESC">ID / DESC</mat-option>
        <mat-option value="id:ASC">ID / ACS</mat-option>
        <mat-option value="name:DESC">Name / DESC</mat-option>
        <mat-option value="name:ASC">Name / ACS</mat-option>
        <mat-option value="subject:DESC">Subject / DESC</mat-option>
        <mat-option value="subject:ASC">Subject / ACS</mat-option>
        <mat-option value="email:DESC">Email / DESC</mat-option>
        <mat-option value="email:ASC">Email / ACS</mat-option>
        <mat-option value="status:DESC">Status / DESC</mat-option>
        <mat-option value="status:ASC">Status / ACS</mat-option>
        <mat-option value="limit_exceeded:DESC">Daily limit exceeded / DESC</mat-option>
        <mat-option value="limit_exceeded:ASC">Daily limit exceeded / ACS</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="table-box">
    <table mat-table [dataSource]="dataSource">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="width-6">ID</th>
        <td mat-cell *matCellDef="let element" class="width-6">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="width-14">
          Name
        </th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Subject Column -->
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef class="width-14">Subject</th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.subject }}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="width-14">Email</th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.email }}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="width-8">Status</th>
        <td mat-cell *matCellDef="let element" class="width-8">
          {{ element.status ? 'Sent' : 'Not sent' }}
        </td>
      </ng-container>

      <!-- Daily limit exceeded Column -->
      <ng-container matColumnDef="limit_exceeded">
        <th mat-header-cell *matHeaderCellDef class="width-8">Daily limit exceeded</th>
        <td mat-cell *matCellDef="let element" class="width-8">
          {{ element.limit_exceeded ? 'Exceeded' : '' }}
        </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="creation_date">
        <th mat-header-cell *matHeaderCellDef class="width-14">Creation date</th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.creation_date | date:'YYYY-MM-dd HH:mm:ss':'+0000' }}
        </td>
      </ng-container>

      <!-- Updated Date Column -->
      <ng-container matColumnDef="update_date">
        <th mat-header-cell *matHeaderCellDef class="width-14">Update date</th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.update_date | date:'YYYY-MM-dd HH:mm:ss':'+0000' }}
        </td>
      </ng-container>

      <!-- Action Name Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="width-4">
          <span class="h5">Action</span>
        </th>
        <td mat-cell *matCellDef="let element" class="width-4 action-column">
          <div class="action-container">
            <button mat-icon-button matTooltip="View" (click)="openShowEmailBodyDialog(element.email_body)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button *ngIf="!element.status" mat-icon-button matTooltip="Send Email" (click)="sendEmail(element.id)">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr
        class="table-header"
        mat-header-row
        *matHeaderRowDef="columnsToDisplay"
      ></tr>
      <tr
        class="table-header"
        mat-row
        *matRowDef="let row; columns: columnsToDisplay"
      ></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 30]"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      showFirstLastButtons
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </div>
</div>
