<header class="header-risk">
  <div [style.background]="headerService.background" class="top-nav">
    <a routerLink="/">
      <img
        src="../../assets/shared-image/mask-group.svg"
        alt="~/Frontend/images/question-circular-button.svg"
        height="58"
      />
      <span> <b>CGIAR</b> M-QAP <br><small>Monitoring, Evaluation, and Learning Quality Assurance Processor</small></span>
    </a>

    <nav>
      <button
        [style.background]="headerService.backgroundUserNavButton"
        mat-button
        *ngIf="user"
        [matTooltip]="'(' + user.role + ') ' + user.email"
      >
        <div>
          <img
            class="user-nav-button__icon--1"
            src="../../assets/shared-image/🦆 icon _User avatar filled_.svg"
            alt="~/Frontend/images/icon _User avatar"
            height="16px"
          />
          <span class="user-name">
            {{ user.full_name }}
          </span>
        </div>
      </button>
      <button
        [style.background]="headerService.backgroundUserNavButton"
        mat-button
        *ngIf="!user"
        (click)="login()"
      >
        <div>
          <img
            class="user-nav-button__icon--1"
            src="../../assets/shared-image/🦆 icon _User avatar filled_.svg"
            alt="~/Frontend/images/icon _User avatar"
            height="16px"
          />
          <span> Login </span>
        </div>
      </button>

      <button
        [style.background]="headerService.backgroundUserNavButton"
        mat-button
        *ngIf="user"
        (click)="logout()"
      >
        <div>
          <img
            src="../../assets/shared-image/🦆 icon _logout_.svg"
            class="user-nav-button__icon--2"
            alt="~/Frontend/images/icon _logout"
            height="16px"
          />
          <span> Logout </span>
        </div>
      </button>
    </nav>
  </div>

  <nav [style.background]="headerService.backgroundNavMain">
    <ul>
      <li>
        <a
          routerLink="home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-button
        >
          <span>Home</span>
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="training-data" routerLinkActive="active" mat-button>
          <span>Training Data</span>
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="substitution-data" routerLinkActive="active" mat-button>
          <span>Substitution Data</span>
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="training-cycle" routerLinkActive="active" mat-button>
          <span>Training Cycles</span>
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="predictions" routerLinkActive="active" mat-button>
          <span>Predictions</span>
        </a>
      </li>
      <li>
        <a routerLink="clarisa" routerLinkActive="active" mat-button>
          <span>CLARISA Institution List</span>
        </a>
      </li>
      <li>
        <a routerLink="commodities" routerLinkActive="active" mat-button>
          <span>Commodities</span>
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="repositories" routerLinkActive="active" mat-button>
          <span>CGIAR Repositories</span>
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="users" routerLinkActive="active" mat-button>
          <span>Admin Panel</span>
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="emails" routerLinkActive="active" mat-button>
          <span>Emails</span>
        </a>
      </li>
      <li>
        <a routerLink="api-keys" routerLinkActive="active" mat-button>
          <span>API-keys</span>
        </a>
      </li>
      <li>
        <a routerLink="api-usage" routerLinkActive="active" mat-button>
          <span>API Usage</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
