<div class="main-container">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Search</mat-label>
      <input type="text" matInput formControlName="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Order</mat-label>
      <mat-select formControlName="sortBy">
        <mat-option value="api_key:DESC">API-key / DESC</mat-option>
        <mat-option value="api_key:ASC">API-key / ACS</mat-option>
        <mat-option value="name:DESC">Name / DESC</mat-option>
        <mat-option value="name:ASC">Name / ACS</mat-option>
        <mat-option value="type:DESC">Type / DESC</mat-option>
        <mat-option value="type:ASC">Type / ACS</mat-option>
        <mat-option value="creation_date:DESC">Time / DESC</mat-option>
        <mat-option value="creation_date:ASC">Time / ACS</mat-option>

        <mat-option value="{{selectedApiKeySummaryType === 'wos' ? 'doi' : 'path'}}:DESC">
          {{ selectedApiKeySummaryType === 'wos' ? 'DOI' : 'Endpoint' }} / DESC
        </mat-option>
        <mat-option value="{{selectedApiKeySummaryType === 'wos' ? 'doi' : 'path'}}:ASC">
          {{ selectedApiKeySummaryType === 'wos' ? 'DOI' : 'Endpoint' }} / ACS
        </mat-option>

      </mat-select>
    </mat-form-field>
  </form>

  <div class="table-box">
    <table mat-table [dataSource]="dataSource">
      <!-- API-key Column -->
      <ng-container matColumnDef="api_key">
        <th mat-header-cell *matHeaderCellDef class="width-22">
          API-key
        </th>
        <td mat-cell *matCellDef="let element" class="width-22">
          {{ element.api_key }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="width-22">
          Name
        </th>
        <td mat-cell *matCellDef="let element" class="width-22">
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="width-8">
          Type
        </th>
        <td mat-cell *matCellDef="let element" class="width-8">
          {{ element.type }}
        </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="creation_date">
        <th mat-header-cell *matHeaderCellDef class="width-12">Time</th>
        <td mat-cell *matCellDef="let element" class="width-12">
          {{ element.creation_date | date:'YYYY-MM-dd HH:mm:ss':'+0000' }}
        </td>
      </ng-container>

      <!-- Path Column -->
      <ng-container matColumnDef="{{selectedApiKeySummaryType === 'wos' ? 'doi' : 'path'}}">
        <th mat-header-cell *matHeaderCellDef class="min-width-22 width-fill">
          {{ selectedApiKeySummaryType === 'wos' ? 'DOI' : 'Path' }}
        </th>
        <td mat-cell *matCellDef="let element" class="min-width-22 width-fill">
          {{ selectedApiKeySummaryType === 'wos' ? element.doi : element.path }}
        </td>
      </ng-container>

      <tr
        class="table-header"
        mat-header-row
        *matHeaderRowDef="selectedApiKeySummaryType === 'wos' ? columnsToDisplayWos : columnsToDisplay"
      ></tr>
      <tr
        class="table-header"
        mat-row
        *matRowDef="let row; columns: (selectedApiKeySummaryType === 'wos' ? columnsToDisplayWos : columnsToDisplay)"
      ></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 30]"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      showFirstLastButtons
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </div>
</div>
