:host {
  color: rgb(244, 67, 54);
  display: inline;
  font-size: 12px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.4px;
  line-height: 20px;
  margin: 0px;
  padding: 0px;
  pointer-events: auto;
  text-align: left;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

span {
  display: inline-block;
}
