<app-page-container>
  <app-h1>AI statistics</app-h1>
  <div>
    <section *ngIf="statistics" class="counters-container">
      <div class="counter-container">
        <app-counter title="Organization predictions" [count]="statistics.totalPrediction" icon="online_prediction"
                     toolTip="Total number of Organization predictions"></app-counter>
      </div>
      <div class="counter-container">
        <app-counter title="Organizations in CLARISA " [count]="statistics.totalOrganization" icon="group_work"
                     toolTip="Total number of Organizations in CLARISA"></app-counter>
      </div>
      <div class="counter-container">
        <app-counter title="Training cycles" [count]="statistics.totalTrainingCycle" icon="model_training"
                     toolTip="Total number of trained cycles"></app-counter>
      </div>
      <div class="counter-container">
        <app-counter title="Training data" [count]="statistics.totalTrainingData" icon="database"
                     toolTip="Total number of training records"></app-counter>
      </div>
    </section>

    <div class="charts-container">
      <div class="chart-container">
        <h4>Prediction count for each training cycle</h4>
        <div [chart]="countChart"></div>
      </div>
      <div class="chart-container">
        <h4>Average prediction confidence for each training cycle </h4>
        <div [chart]="averageChart"></div>
      </div>
    </div>
  </div>
</app-page-container>
