<app-page-container>
  <app-h1>AI statistics</app-h1>
  <div>
    <section *ngIf="statistics" class="counters-container">
      <div class="counter-container">
        <app-counter title="Organization predictions" [count]="statistics.totalPrediction" icon="online_prediction"
                     toolTip="Total number of Organization predictions"></app-counter>
      </div>
      <div class="counter-container">
        <app-counter title="Organizations in CLARISA " [count]="statistics.totalOrganization" icon="group_work"
                     toolTip="Total number of Organizations in CLARISA"></app-counter>
      </div>
      <div class="counter-container">
        <app-counter title="Training cycles" [count]="statistics.totalTrainingCycle" icon="model_training"
                     toolTip="Total number of trained cycles"></app-counter>
      </div>
      <div class="counter-container">
        <app-counter title="Training data" [count]="statistics.totalTrainingData" icon="database"
                     toolTip="Total number of training records"></app-counter>
      </div>
    </section>

    <div class="charts-container">
      <div class="chart-container">
        <h4>Prediction count for each training cycle</h4>
        <div [chart]="countChart"></div>
      </div>
      <div class="chart-container">
        <h4>Average prediction confidence for each training cycle </h4>
        <div [chart]="averageChart"></div>
      </div>
    </div>

    <ng-container *ngIf="isAdmin">
      <hr>
      <app-h1>Api Usage statistics</app-h1>
      <div class="years-navigator">
        <button mat-icon-button color="primary" matTooltip="Previous year" (click)="getApiStatistics(apiYear - 1)">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-button (click)="getApiStatistics(apiYear - 1)">
          {{ apiYear - 1 }}
        </button>
        <button class="years-navigator-active" mat-button (click)="getApiStatistics(apiYear)">
          {{ apiYear }}
        </button>
        <button mat-button (click)="getApiStatistics(apiYear + 1)">
          {{ apiYear + 1 }}
        </button>
        <button mat-icon-button color="primary" matTooltip="Next year" (click)="getApiStatistics(apiYear + 1)">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>

      <section *ngIf="apiCounters" class="counters-container">
        <div *ngFor="let counter of apiCounters" class="counter-container wide-counter">
          <app-counter [title]="counter.title" [count]="counter.count" [icon]="counter.icon" [toolTip]="counter.toolTip"
                       [percentage]="counter.percentage">
          </app-counter>
        </div>
      </section>

      <div class="charts-container">
        <div class="chart-container">
          <h4>API usage over time</h4>
          <div [chart]="apiUsageOverTimeChart"></div>
        </div>
        <div class="chart-container">
          <h4>WoS usage over time</h4>
          <div [chart]="wosUsageOverTimeChart"></div>
        </div>
      </div>

      <app-api-usage-table [yearSubject]="apiYearSubject"></app-api-usage-table>
    </ng-container>
  </div>
</app-page-container>
