<div class="main-container">
  <section *ngIf="isAdmin" class="action-button-section">
    <button (click)="openDialog()" mat-raised-button color="primary">
      <mat-icon> add_box</mat-icon>
      Add quota
    </button>
  </section>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Search</mat-label>
      <input type="text" matInput formControlName="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Order</mat-label>
      <mat-select formControlName="sortBy">
        <mat-option value="id:DESC">Id / DESC</mat-option>
        <mat-option value="id:ASC">Id / ACS</mat-option>
        <mat-option value="year:DESC">Year / DESC</mat-option>
        <mat-option value="year:ASC">Year / ACS</mat-option>
        <mat-option value="quota:DESC">Quota / DESC</mat-option>
        <mat-option value="quota:ASC">Quota / ACS</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="table-box">
    <table mat-table [dataSource]="dataSource">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="width-2">
          ID
        </th>
        <td mat-cell *matCellDef="let element" class="width-2">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- Year Column -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef class="min-width-14 width-fill">
          Year
        </th>
        <td mat-cell *matCellDef="let element" class="min-width-14 width-fill">
          {{ element.year }}
        </td>
      </ng-container>

      <!-- Quota Column -->
      <ng-container matColumnDef="quota">
        <th mat-header-cell *matHeaderCellDef class="width-14">
          Quota
        </th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.quota | number }}
        </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="creation_date">
        <th mat-header-cell *matHeaderCellDef class="width-14">Creation date</th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.creation_date | date:'YYYY-MM-dd HH:mm:ss':'+0000' }}
        </td>
      </ng-container>

      <!-- Updated Date Column -->
      <ng-container matColumnDef="update_date">
        <th mat-header-cell *matHeaderCellDef class="width-14">Update date</th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.update_date | date:'YYYY-MM-dd HH:mm:ss':'+0000' }}
        </td>
      </ng-container>

      <!-- Action Name Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="width-4">
          <span class="h5">Action</span>
        </th>
        <td mat-cell *matCellDef="let element" class="width-4 action-column">
          <div class="action-container">
            <button *ngIf="isAdmin" mat-icon-button matTooltip="Edit" (click)="openDialog(element.id)">
              <mat-icon>
                <app-edit-icon></app-edit-icon>
              </mat-icon>
            </button>

            <button *ngIf="isAdmin" mat-icon-button matTooltip="Delete" (click)="delete(element.id)">
              <mat-icon>
                <app-delete-icon></app-delete-icon>
              </mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr
        class="table-header"
        mat-header-row
        *matHeaderRowDef="columnsToDisplay"
      ></tr>
      <tr
        class="table-header"
        mat-row
        *matRowDef="let row; columns: columnsToDisplay"
      ></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 30]"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      showFirstLastButtons
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </div>
</div>
