<div class="main-container">
  <section class="action-button-section">
    <button (click)="openDialog()" mat-raised-button color="primary">
      <mat-icon> add_box</mat-icon>
      Add substitution data
    </button>
  </section>

  <form [formGroup]="form">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Search</mat-label>
      <input type="text" matInput formControlName="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Order</mat-label>
      <mat-select formControlName="sortBy">
        <mat-option value="id:DESC">ID / DESC</mat-option>
        <mat-option value="id:ASC">ID / ACS</mat-option>
        <mat-option value="find_text:DESC">Find / DESC</mat-option>
        <mat-option value="find_text:ASC">Find / ACS</mat-option>
        <mat-option value="replace_text:DESC">Replace / DESC</mat-option>
        <mat-option value="replace_text:ASC">Replace / ACS</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="table-box">
    <table mat-table [dataSource]="dataSource">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="width-6">ID</th>
        <td mat-cell *matCellDef="let element" class="width-6">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- Find Column -->
      <ng-container matColumnDef="find_text">
        <th mat-header-cell *matHeaderCellDef class="min-width-22 width-fill">
          Find
        </th>
        <td mat-cell *matCellDef="let element" class="min-width-22 width-fill">
          {{ element.find_text }}
        </td>
      </ng-container>

      <!-- Replace Column -->
      <ng-container matColumnDef="replace_text">
        <th mat-header-cell *matHeaderCellDef class="min-width-22 width-fill">
          Replace
        </th>
        <td mat-cell *matCellDef="let element" class="min-width-22 width-fill">
          {{ element.replace_text }}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="width-8">Action</th>
        <td mat-cell *matCellDef="let element" class="width-8 action-column">
          <div class="action-container">
            <button
              mat-icon-button
              matTooltip="Edit"
              (click)="openDialog(element.id)"
            >
              <mat-icon>
                <app-edit-icon></app-edit-icon>
              </mat-icon>
            </button>

            <button
              mat-icon-button
              matTooltip="Delete"
              (click)="delete(element.id)"
            >
              <mat-icon>
                <app-delete-icon></app-delete-icon>
              </mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr
        class="table-header"
        mat-header-row
        *matHeaderRowDef="columnsToDisplay"
      ></tr>
      <tr
        class="table-header"
        mat-row
        *matRowDef="let row; columns: columnsToDisplay"
      ></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 30]"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      showFirstLastButtons
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </div>
</div>
