<mat-card appearance="raised" [matTooltip]="toolTip" class="border-bottom-light primary-hover">
  <mat-card-content>
    <ng-container>
      <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
      <mat-card-title>
        <strong>{{ title }}</strong>
        <span class="counter-number">
          {{ count | number }}
          <ng-container *ngIf="percentage">
          <small class="small-text">
            / {{ percentage | number: '1.1-2' }} %
          </small>
        </ng-container>
        </span>
      </mat-card-title>
    </ng-container>
  </mat-card-content>
</mat-card>
