<app-h1 *ngIf="!viewTable">
  WoS Quota
</app-h1>

<app-h1 *ngIf="viewTable === 'apiKeys'">
  <span class="back-to-main-list" matTooltip="Back to main list" (click)="backToMainList()">WoS Quota</span> -
  <i><b>{{ selectedWosQuota?.name }}</b></i> API-keys
</app-h1>

<app-h1 *ngIf="viewTable === 'quotas'">
  <span class="back-to-main-list" matTooltip="Back to main list" (click)="backToMainList()">WoS Quota</span> -
  <i><b>{{ selectedWosQuota?.name }}</b></i> Quota
</app-h1>

<app-api-keys-table *ngIf="selectedWosQuota?.id && viewTable === 'apiKeys'"
                    [selectedWosQuota]="selectedWosQuota"></app-api-keys-table>

<app-wos-quota-year-table *ngIf="selectedWosQuota?.id && viewTable === 'quotas'"
                          [selectedWosQuota]="selectedWosQuota"></app-wos-quota-year-table>

<div *ngIf="!viewTable" class="main-container">
  <section class="action-button-section">
    <button (click)="openDialog()" mat-raised-button color="primary">
      <mat-icon> add_box</mat-icon>
      Add new WoS quota
    </button>
  </section>

  <form [formGroup]="form">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Search</mat-label>
      <input type="text" matInput formControlName="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Order</mat-label>
      <mat-select formControlName="sortBy">
        <mat-option value="id:DESC">Id / DESC</mat-option>
        <mat-option value="id:ASC">Id / ACS</mat-option>
        <mat-option value="name:DESC">Name / DESC</mat-option>
        <mat-option value="name:ASC">Name / ACS</mat-option>
        <mat-option value="organization:DESC">Organization / DESC</mat-option>
        <mat-option value="organization:ASC">Organization / ACS</mat-option>
        <mat-option value="is_active:DESC">Is active / DESC</mat-option>
        <mat-option value="is_active:ASC">Is active / ACS</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="table-box">
    <table mat-table [dataSource]="dataSource">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="width-2">
          ID
        </th>
        <td mat-cell *matCellDef="let element" class="width-2">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="min-width-14 width-fill">
          Name
        </th>
        <td mat-cell *matCellDef="let element" class="min-width-14 width-fill">
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Organization Column -->
      <ng-container matColumnDef="organization_id">
        <th mat-header-cell *matHeaderCellDef class="width-14">
          Organization
        </th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.organization }}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef class="min-width-2">
          Is active
        </th>
        <td mat-cell *matCellDef="let element" class="min-width-2">
          {{ element.is_active ? 'Yes' : 'No' }}
        </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="creation_date">
        <th mat-header-cell *matHeaderCellDef class="width-14">Creation date</th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.creation_date | date:'YYYY-MM-dd HH:mm:ss':'+0000' }}
        </td>
      </ng-container>

      <!-- Updated Date Column -->
      <ng-container matColumnDef="update_date">
        <th mat-header-cell *matHeaderCellDef class="width-14">Update date</th>
        <td mat-cell *matCellDef="let element" class="width-14">
          {{ element.update_date | date:'YYYY-MM-dd HH:mm:ss':'+0000' }}
        </td>
      </ng-container>

      <!-- Action Name Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="width-4">
          <span class="h5">Action</span>
        </th>
        <td mat-cell *matCellDef="let element" class="width-4 action-column">
          <div class="action-container">
            <button
              mat-icon-button
              matTooltip="Edit"
              (click)="openDialog(element.id)"
            >
              <mat-icon>
                <app-edit-icon></app-edit-icon>
              </mat-icon>
            </button>

            <button mat-icon-button [matTooltip]="element.is_active ? 'Deactivate' : 'Activate'"
                    (click)="updateStatus(element.id, !element.is_active)">
              <mat-icon>{{ element.is_active ? 'block' : 'done_outline' }}</mat-icon>
            </button>

            <button mat-icon-button matTooltip="API-keys" (click)="apiKeys(element)">
              <mat-icon>api</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Quota" (click)="quotas(element)">
              <mat-icon>electric_meter</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Delete" (click)="delete(element.id)">
              <mat-icon>
                <app-delete-icon></app-delete-icon>
              </mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr
        class="table-header"
        mat-header-row
        *matHeaderRowDef="columnsToDisplay"
      ></tr>
      <tr
        class="table-header"
        mat-row
        *matRowDef="let row; columns: columnsToDisplay"
      ></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[50, 100, 150, 200]"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      showFirstLastButtons
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </div>
</div>
