<app-page-container>
  <app-h1>Api Usage statistics</app-h1>
  <div class="years-navigator">
    <button mat-icon-button color="primary" matTooltip="Previous year" (click)="getApiStatistics(apiYear - 1)">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-button (click)="getApiStatistics(apiYear - 1)">
      {{ apiYear - 1 }}
    </button>
    <button class="years-navigator-active" mat-button (click)="getApiStatistics(apiYear)">
      {{ apiYear }}
    </button>
    <button mat-button (click)="getApiStatistics(apiYear + 1)">
      {{ apiYear + 1 }}
    </button>
    <button mat-icon-button color="primary" matTooltip="Next year" (click)="getApiStatistics(apiYear + 1)">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>

  <section *ngIf="apiCounters" class="counters-container">
    <div *ngFor="let counter of apiCounters" class="counter-container wide-counter">
      <app-counter [title]="counter.title" [count]="counter.count" [icon]="counter.icon" [toolTip]="counter.toolTip"
                   [percentage]="counter.percentage">
      </app-counter>
    </div>
  </section>

  <div class="charts-container">
    <div class="chart-container">
      <h4>API usage over time</h4>
      <div [chart]="apiUsageOverTimeChart"></div>
    </div>
    <div class="chart-container">
      <h4>WoS usage over time</h4>
      <div [chart]="wosUsageOverTimeChart"></div>
    </div>
  </div>

  <app-api-usage-table [yearSubject]="apiYearSubject"></app-api-usage-table>
</app-page-container>
